# Diretório de dependências do Node.js
node_modules/

# Variáveis de ambiente
.env

# Logs de erros e de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios gerados durante a compilação ou build
dist/
build/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db